.buildTeamOptions__currentSelection-buttons-teams {
  height: 100%;
  padding: 1rem;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  border-radius: 0.4rem 0.4rem 1rem 0.2rem;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  filter: brightness(90%);
}

.buildTeamOptions__currentSelection-buttons-teams:hover {
  filter: brightness(100%);
}
