.pokePage__wrap {
  width: 100%;
  user-select: none;
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
  font-size: 1.3rem;
}

.pokePage__body {
  padding: 3%;
}
.pokePage__pokemon-name {
  color: aliceblue;
  font-size: 2rem;
  text-transform: capitalize;
}

.pokePage_pokemon-header-wrap {
  display: flex;
  gap: 10rem;
  color: aliceblue;
  margin-bottom: 5rem;
}

.pokePage_pokemon-header-middle {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.pokePage_pokemon-header-starting-ablilities {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.pokePage_pokemon-header-stats-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-transform: capitalize;
  color: aliceblue;
  font-size: 1.3rem;
  width: 50rem;
}

.pokePage_pokemon-header-lists {
  text-decoration: none;
  list-style: none;
}

.pokePage__games-featured {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  background-color: #282830;
  border-radius: 2rem;
  margin-bottom: 3rem;
}

.pokePage__games-featured-games {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.evolutionChainLine__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: aliceblue;
  border-radius: 1rem;
  padding: 0.2rem;
  gap: 0.5rem;
  font-size: 1.2rem;
}

.evolutionChainLine__link:hover {
  background-color: #282830;
}

.pokePage_pokemon-header-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.pokePage_pokemon-header-display-button {
  background-color: #e5c800;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  color: aliceblue;
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: -1px -1px 0 #4152cc, 1px -1px 0 #4152cc, -1px 1px 0 #4152cc,
    1px 1px 0 #4152cc;
  user-select: none;
}

.pokePage_pokemon-header-display-button:hover {
  background-color: #ffdd00;
}

.pokePage_pokemon-header-display-button:active {
  background-color: #ffee00;
}

.pokePage_pokemon-header-display-saved {
  position: absolute;
  user-select: none;
  background-color: #e5c60038;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  color: aliceblue;
  font-size: 4rem;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: -1px -1px 0 #4152cc, 1px -1px 0 #4152cc, -1px 1px 0 #4152cc;
  transform: translate(50rem, 0);
}
