.buildTeamOptions {
  width: 90rem;
  height: 30rem;
}

.buildTeamOptions__currentSelection {
  width: 90rem;
  height: 20rem;
  background-color: #282830;
  border-radius: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.buildTeamOptions__currentSelection-pokemon {
  width: 90rem;
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  align-items: center;
}

.buildTeamOptions__currentSelection-single {
  border: 0.3rem solid #464653;
  border-radius: 1rem;
  height: 10rem;
  width: 10rem;
  position: relative;
}
.buildTeamOptions__currentSelection-single-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  user-select: none;
  text-transform: capitalize;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  color: aliceblue;
  align-items: center;
  justify-content: center;
}

.buildTeamOptions__currentSelection-single-img {
  width: 7rem;
  height: 7rem;
}

.buildTeamOptions__currentSelection-single-button {
  background-color: rgba(165, 14, 14, 0.473);
  border: none;
  padding: 0.7rem;
  border-radius: 5rem;
  position: absolute;
  transform: translate(8rem, -1.1rem);
}

.buildTeamOptions__currentSelection-single-button:hover {
  background-color: rgba(165, 14, 14, 0.63);
}

.buildTeamOptions__currentSelection-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  user-select: none;
  margin-bottom: 1rem;
}

.buildTeamOptions__currentSelection-buttons-clear-selection {
  background-color: rgba(165, 14, 14, 0.473);
  font-size: 1.4rem;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  padding: 1rem;
  border-radius: 1rem;
}

.buildTeamOptions__currentSelection-buttons-clear-selection:hover {
  background-color: rgba(165, 14, 14, 0.63);
}

.buildTeamOptions__currentSelection-buttons-teams-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.buildTeamOptions__currentSelection-buttons-teams {
  height: 100%;
  padding: 1rem;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  border-radius: 0.4rem 0.4rem 1rem 0.2rem;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  filter: brightness(90%);
}

.buildTeamOptions__currentSelection-buttons-teams:hover {
  filter: brightness(100%);
}

.buildTeamOptions__wrap {
  width: 90rem;
  height: 30rem;
  border-radius: 1rem;
  background-color: #282830;
  user-select: none;
  height: fit-content;
}

.buildTeamOptions__options-header {
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
  font-size: 2rem;
  padding: 1rem;
}

.buildTeamOptions-option-wrap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.buildTeamOptions__options-options {
  padding: 1rem 10rem;
  display: flex;
  gap: 30rem;
  align-items: center;
  justify-content: center;
}

.buildTeamOptions__options-option {
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
  font-size: 2rem;
  background-color: #464653b2;
  padding: 1rem;
  text-align: center;
  border-radius: 1rem;
  border: none;
  min-width: 10rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.buildTeamOptions__options-search-wrap {
  background-color: #464653b2;
  width: 30rem;
  height: 5rem;
  box-shadow: rgba(0, 0, 0, 0.356) 0px 3px 8px;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  padding: 2rem;
}

.buildTeamOptions__options-search-wrap:hover {
  background-color: #464653;
}

.buildTeamOptions__options-search {
  font-size: 1.5rem;
  color: aliceblue;
  background-color: transparent;
  border: none;
  outline: none;
}

.buildTeamOptions__options-option:hover {
  box-shadow: rgba(0, 0, 0, 0.356) 0px 3px 8px;
  background-color: #464653;
}

.buildTeamOptions__options-suboption-wrap {
  background-color: #464653;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 20rem;
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
  font-size: 1rem;
  border-radius: 1rem;
  padding: 0.4rem;
  position: absolute;
  transform: translate(0, 5rem);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  z-index: 2;
}

.buildTeamOptions__options-suboption-button {
  border: none;
  outline: none;
  color: aliceblue;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  font-size: 1.3rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.buildTeamOptions__options-suboption-button:hover {
  box-shadow: rgba(100, 100, 111, 0.363) 0px 7px 29px 0px;
  filter: brightness(120%);
}

.buildTeamOptions__pokemon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem;
  height: 12rem;
  width: 100%;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  max-height: 300px; /* set your desired height */
  overflow-y: auto;
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 0px,
    black 30px,
    black calc(100% - 30px),
    transparent 100%
  );
  mask-image: linear-gradient(
    to bottom,
    transparent 0px,
    black 30px,
    black calc(100% - 30px),
    transparent 100%
  );
}

.buildTeamOptions__pokemon-wrap::-webkit-scrollbar {
  display: none;
}
